
*.suo
*.read.1u.tlog
*.VC.db-wal
*.VC.db-shm
*.db
*.opendb
*.obj
*.log
*.pch
*.tlog
*.pdb
*.dll
*.ipch
*.iobj
*.ipdb
*.dll.recipe
*.idb
*.ilk
*.lib
*.txt
*.exp
*.recipe
*.map
*.exe
*.ini
*.ini
*.xml
*.tmp
*.sarif